

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.linkButton {
  color: white !important;
  font-size: medium !important;
}

.linkButtonSelected {
  color: white !important;
  font-size: medium !important;
  text-decoration: underline !important;
}

header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1463b2;
  color: white;
  font-weight: 600;
}

.navBar {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #227fdca2;
  color: white;
}

.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-full-width {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.footerDiv {
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
}

.resultText {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

